@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400&display=swap');

.wrapper {
  background: #EEEEEE;
  padding: 20px 12px;
  display: grid;
  align-items: start;
  grid-template-columns: 1fr;
  text-align: start;
  position: relative;

  @media (min-width: 1024px) {
    padding: 40px;
    grid-template-columns: 30%;
  }

}

.title {
  font-weight: 400;
  font-family: Space Grotesk;
  margin-bottom: 24px;
  color: #000000;
  letter-spacing: -1px;
  font-size: 36px;
  line-height: 110%;

  @media(min-width: 1024px) {
    font-size: 48px;
    line-height: 52px;
  }
}

.subtitle {
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 12px;
  color: #1B191C;
  letter-spacing: -0.4px;
  font-family: Space Grotesk;

  @media(min-width: 1024px) {
    margin-bottom: 182px;

  }
}

.contentWrapper {
  position: initial;
  margin-bottom: 40px;

  @media(min-width: 1024px) {
    width: 40%;
    position: absolute;
    top: 30%;
    right: 152px;
  }
}

.hint {
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.3px;
  color: #1B191C;
  font-family: Space Grotesk;

  span {
    font-weight: 400;
    cursor: pointer;
    font-family: Space Grotesk;
  }
}